<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/admin.css">
    <title>Admin</title>
</head>

<body>

    <div class="container">
        <div class="row"> <!--Barra de Navegación-->
            <div class="col">
                <header>
                    <nav class="d-flex justify-content-between align-items-center">
                        <img class="logoPrincipal" src="../img/logo-principal.png" alt="logoNoname">
                        <ul class="nav nav-underline">
                            <li class="nav-item">
                                <a class="nav-link inicio" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/crear.html">Crear Productos</a>
                            </li>
                        </ul>
                        <ul class="nav nav-underline ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="editar.html">Editar Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ingresa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mis compras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">🛒</a>
                            </li>
                            <li class="nav-item me-5">
                                <a class="nav-link" href="../views/registro.html">Registro</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="text-center">VISTA DE ADMIN</h2>
            </div>
            <div class="col">
                <h3>Reporte</h3>
            </div>
        </div>
    </div>
    
</body>

</html>