<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="../css/pagina-principal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row"> <!--Barra de Navegación-->
            <div class="col">
                <header>
                    <nav class="d-flex justify-content-between align-items-center">
                        <img class="logoPrincipal" src="../img/logo-principal.png" alt="logoNoname">
                        <ul class="nav nav-underline">
                            <li class="nav-item">
                                <a class="nav-link inicio" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Categorías</a>
                            </li>
                        </ul>
                        <ul class="nav nav-underline ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Crea tu cuenta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ingresa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mis compras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">🛒</a>
                            </li>
                            <li class="nav-item me-5">
                                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>

        <div class="container my-5"> <!--Contenedor de los productos-->
            <h2 class="text-center mb-4">Nuestros Productos</h2>
            <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4 g-4" id="contenedor-productos">
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://bylmo.com/cdn/shop/files/1010433-escritorio-gamer-lax-1502x88cm-wengue-azul-moderno_6.png?v=1712942885&width=1214"
                            class="card-img-top" alt="Nombre del Producto 1">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Producto Estrella</h5>
                            <p class="card-text text-muted">Descripción breve del producto que resalta sus
                                características principales.</p>
                            <p class="card-text fs-4 fw-bold mt-auto">$599.999</p>
                            <a href="#" class="btn btn-primary mt-2">Añadir al Carrito</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://panamericana.vtexassets.com/arquivos/ids/493023/audifonos-negros-inalambricos-tipo-diadema-sony-wh-ch520-2-27242925205.jpg?v=638187164064900000"
                            class="card-img-top" alt="Nombre del Producto 2">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Novedad</h5>
                            <p class="card-text text-muted">Aquí una descripción más detallada sobre lo que ofrece este
                                producto.</p>
                            <p class="card-text fs-4 fw-bold mt-auto">$45.00</p>
                            <a href="#" class="btn btn-primary mt-2">Añadir al Carrito</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://tugocolombia.vtexassets.com/arquivos/ids/313528/8893283-1.jpg?v=638815568270570000"
                            class="card-img-top" alt="Nombre del Producto 3">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Oferta Especial</h5>
                            <p class="card-text text-muted">No te pierdas esta oferta por tiempo limitado, ¡aprovecha
                                ahora!</p>
                            <p class="card-text fs-4 fw-bold mt-auto">$19.99</p>
                            <a href="#" class="btn btn-primary mt-2">Añadir al Carrito</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://luegopago.blob.core.windows.net/content-process/products-images/prod/1302/8167b795-8914-4dd7-9593-6bba1f1ff837.webp"
                            class="card-img-top" alt="Nombre del Producto 4">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Lo Más Vendido</h5>
                            <p class="card-text text-muted">Uno de nuestros productos más populares, ¡descubre por qué!
                            </p>
                            <p class="card-text fs-4 fw-bold mt-auto">$35.50</p>
                            <a href="#" class="btn btn-primary mt-2">Añadir al Carrito</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="https://co.tiendasishop.com/cdn/shop/files/IMG-14858971.jpg?v=1726245744&width=823"
                            class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">iPhone 16</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="https://itechcolombia.co/wp-content/uploads/2024/10/MXM23ref_FV99_VW_34FRwatch-case-46-aluminum-jetblack-nc-s10_VW_34FRwatch-face-46-aluminum-jetblack-s10_VW_34FR.png"
                            alt="">
                        <div class="card-body">
                            <h5 class="card-title">Apple Watch</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p class="card-text fw-bold fs-4">$ 2000000</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://itechcolombia.co/wp-content/uploads/2024/10/MXM23ref_FV99_VW_34FRwatch-case-46-aluminum-jetblack-nc-s10_VW_34FRwatch-face-46-aluminum-jetblack-s10_VW_34FR.png"
                            alt="">
                        <div class="card-body">
                            <h5 class="card-title">Apple Watch</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p class="card-text fw-bold fs-4">$ 2000000</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://itechcolombia.co/wp-content/uploads/2024/10/MXM23ref_FV99_VW_34FRwatch-case-46-aluminum-jetblack-nc-s10_VW_34FRwatch-face-46-aluminum-jetblack-s10_VW_34FR.png"
                            alt="">
                        <div class="card-body">
                            <h5 class="card-title">Apple Watch</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p class="card-text fw-bold fs-4">$ 2000000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/app.js"></script>

</body>

</html>