<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="../css/pagina-principal.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row"> <!--Barra de Navegación-->
            <div class="col">
                <header>
                    <nav class="d-flex justify-content-between align-items-center">
                        <img class="logoPrincipal" src="../img/logo-principal.png" alt="logoNoname">
                        <ul class="nav nav-underline">
                            <li class="nav-item">
                                <a class="nav-link inicio" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/crear.html">Crear Productos</a>
                            </li>
                        </ul>
                        <ul class="nav nav-underline ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Crea tu cuenta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ingresa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mis compras</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">🛒</a>
                            </li>
                            <li class="nav-item me-5">
                                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
        </div>

        <div class="container my-5"> <!--Contenedor de los productos-->
            <h2 class="text-center mb-4">Nuestros Productos</h2>
            <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4 g-4" id="contenedor-productos">

            </div>
        </div>
    </div>

    <script src="/frontend/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>