<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
      <div id="barra_nav-Container"></div>

  <script>

    fetch('/htdocs/noname-main/frontend/views/barra_nav.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('barra_nav-Container').innerHTML = html;
      });
  </script>
</header>

<body>
    hola

</body>
</html>