<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="../img/logo-principal-Vista-Barra.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="../css/registro.css" rel="stylesheet">
    <title>Registro</title>
</head>

<body class="bg-dark">
    <section> <!--formulario de registro-->
        <div class="row g-0">
            <div class="col-lg-7 d-none d-lg-block">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade  h-100" data-bs-ride="carousel" data-bs-interval="4000">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item img-1 min-vh-100 active">

                        </div>
                        <div class="carousel-item img-2 min-vh-100">
                        </div>
                        <div class="carousel-item img-3 min-vh-100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-flex flex-column justify-content-center m-vh-100">
                <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 mb-auto">
                    <img id="logo-principal" src="../img/logo-principal.png" class="img-fluid">
                </div>
                <div class="px-lg-5 py-lg-5 p-4 w-100 align-self-center">
                    <h1 class="fw-bold mb-3">Registrarse</h1>
                    <form class="mb-4" id="form-registro">
                        <div class="mb-4">
                            <label for="exampleInputEmail1" class="form-label fw-bold">Nombre de Usuario</label>
                            <input placeholder="Ingresa tu nombre de usuario" type="text" class="form-control bg-dark-x border-0 text-white"
                                id="nombre" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputEmail1" class="form-label fw-bold">Email</label>
                            <input placeholder="ingresa tu email" type="email" class="form-control bg-dark-x border-0 text-white"
                                id="correo" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-4">
                            <label for="exampleInputPassword1" class="form-label fw-bold">Contraseña</label>
                            <input placeholder="ingresa tu contraseña" type="password"
                                class="form-control bg-dark-x border-0 mb-2 text-white" id="contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Registrarse</button>
                    </form>
                    <p class="fw-bold text-center text-secondary mt-3">o inicia sesión con</p>
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn btn-outline-light flex-grow-1 me-2"><i
                                class="fa-brands fa-google lead me-2"></i>Google</button>
                        <button type="submit" class="btn btn-outline-light flex-grow-1 ms-2"><i
                                class="fa-brands fa-facebook lead me-2"></i>Facebook</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="mensaje"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="../js/registro.js"></script> <!--AQUI TENIA MAL REFERENCIADA LA RUTA-->
</body>

</html>